@{
    ViewData["Title"] = "BuscarUsuario";
    //Aca selecciono para que aparezca el layout
    Layout = "_LayoutSGPI";
}
<center><h1>Buscar Coordinador</h1></center>
<br />
<!--Pruebas De Columnas-->
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <form action="" class="form-inline justify-content-center">
                <ul class="nav nav-pills" class="form">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Coordinador/BuscarCoordinador">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Coordinador/ProgramarCoordinador">Programar Asignacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Coordinador/HomologacionCoordinador">Homologacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Coordinador/EntrevistasCoordinador">Entrevistas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Coordinador/ReportesCoordinador">Reportes</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>



<br />
<label>Buscar Coordinador</label>
<!--Aca barra de busqueda-->
<div class="input-group mb-3">
    <input type="text" class="form-control col-sm-3" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-danger" type="button" id="button-addon2">Buscar</button>
</div>
<!--Aca agrego una tabla-->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Genero</th>
                <th scope="col">Documento</th>
                <th scope="col">Programa</th>
                <th scope="col">Rol</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Samuel</th>
                <th scope="row">Cardona</th>
                <th scope="row">Masculino</th>
                <th scope="row">1000417065</th>
                <th scope="row">Tenica en SI</th>
                <th scope="row">Estudiante</th>
                <th scope="row">samucardonaamaya39@correo.tdea.edu.co</th>

            </tr>
            <tr>
                <th scope="row">Vacio</th>

            </tr>
            <tr>
                <th scope="row">Vacio</th>
            </tr>
        </tbody>
    </table>
</div>
<br />
<center><a href="/Administrador/Login" id="cerrarsesion">¿Cerrar sesion?</a></center>

