
@{
    ViewData["Title"] = "HomologacionCoordinador";
    //Aca selecciono para que aparezca el layout
    Layout = "_LayoutSGPI";
}
<center><h1>Homologación Coordinador</h1></center>
<br />
<!--Agrego el menu-->
<form action="" class="form-inline justify-content-center">
    <ul class="nav nav-pills" class="form">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/Coordinador/BuscarCoordinador">Buscar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Coordinador/ProgramarCoordinador">Programar Asignacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Coordinador/HomologacionCoordinador">Homologacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Coordinador/EntrevistasCoordinador">Entrevistas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Coordinador/ReportesCoordinador">Reportes</a>
        </li>
    </ul>
</form>
<!--Aca buscar coordinador-->
<label>Buscar Coordinador</label>
<!--Aca barra de busqueda-->
<div class="input-group mb-3">
    <input type="text" class="form-control col-sm-4" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-danger" type="button" id="button-addon2">Buscar</button>
</div>
<!--Columnas-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label>Nombre</label>
            <input type="text"placeholder="Samuel" class="form-control col-sm-7"id="nombretxt" requiered />
            </div>
        <div class="col">
            <label>Primer Apellido</label>
            <input type="text"placeholder="Cardona" class="form-control col-sm-7" id="nombretxt" requiered />
            </div>
        <div class="col">
            <label>Segundo Apellido</label>
            <input type="text"placeholder="Amaya" class="form-control col-sm-7" id="nombretxt" requiered />
            </div>
            <div class="col">
            <label>Programa</label>
            <input type="text"placeholder="Tecninca" class="form-control col-sm-7" id="nombretxt" requiered />
            </div>
            <div class="col">
            <label>Documento</label>
            <input type="text"placeholder="1000417065" class="form-control col-sm-7" id="nombretxt" requiered />
            </div>
            </div>
            </div>
            <br />
            <br />
<!--Aca va la tabla-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre Asignatura</th>
                <th scope="col">Creditos</th>
                <th scope="col">Nivel</th>
                <th scope="col">Programa</th>
                <th scope="col">Codigo Asignatura Homologacion</th>
                <th scope="col">Nombre Asignatura Homologacion</th>
                <th scope="col">Creditos Homologacion</th>
                <th scope="col">Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><input type="text" class="form-control col" placeholder="1" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="12345" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="Tendencia" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="3" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="5" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="Tecnologia Sistemas" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="23456" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col"placeholder="Python" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="3" id="usuariotxt" requiered /></th>
                <th scope="row"><input type="text" class="form-control col" placeholder="4.5" id="usuariotxt" requiered /></th>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
<!--Creo columnas-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <center><button type="button" class="btn btn-outline-danger" id="enviarbtn type" submit>Enviar</button></center>
            </div>
        <div class="col">
            <center><button type="button" class="btn btn-outline-danger" id="cancelarbtn type" submit>Cancelar</button></center>
        </div>
            </div>
                </div>

            
