
@{
    ViewData["Title"] = "Eliminar";
    Layout = "_LayoutSGPI";
}

<CENTER>
   <br />
<nav class="navbar navbar-expand-sm bg-light">

            <form class="col-lg-10 offset-lg-4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/CrearUsuario">Crear Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EditarUsuario">editar usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">Buscar Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/Reportes">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">eliminar usuario</a>
            </li>
                </ul>
            </form>
        </nav>

</CENTER>


<br>



<center>
    <table border="5">
        <tr>
            <td>Nombre</td>
            <td> Primer apellido </td>
            <td> Segundo apellido </td>
            <td> Genero </td>
            <td>Documento</td>
            <td>programa</td>
            <td>rol</td>
            <td>correo electronico</td>
            
        <tr>
            <td> rosa </td>
            <td> melinda </td>
            <td> rico  </td>
            <td> mujer </td>
            <td> 12345678</td>
            <td>finanzas</td>
            <td> coordinadora</td>
            <td> rosa_melano@gmail.com</td>
           <td><boton> <A href="Eliminar">Eliminar</boton></td>
           
    </table>
    <br>
  <br>
<div align="center">
    <label for="IDENTI">IDENTIFICASION</label>
    <select name="identificasion" id="lang">
        <option value="SELECT">SELECT</option>
        <option value="cedula de ciudadania">cedula de ciudadaniat</option>
        <option value="cedula de extranjeria">cedula de extranjeria</option>
        <option value="pasaporte">pasaporte</option>
        <option value="registro civil">registro civil</option>
        <option value="tarjeta de ID">tarjeta de ID</option>
    </select>
    <label>####</label>
    <input type="number" id= "CEDULAtxt" required/>
    <label>GENERO</label>
    <select name="GENERO" id="GEN">
        <option value="SELECT">SELECT</option>
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
        <option value="Decimal">Decimal</option>
      
    </select>
    </div>
    
<tr/>
<tr>
    <div align="center">
<label>Nombre</label>
<input type="TEXT" id= "USUARIOtxt" required/>
    <label>apellido</label>
    <input type="TEXT" id="USUARIOtxt" required />
    <label>segundo apellido</label>
    <input type="TEXT" id="USUARIOtxt" required />
</tr>
<tr>
<label>correo</label>
<input type="text" id= "correotxt" required/>
    <label>ROL</label>
    <select name="ROL" id="ROL">
        <option value="SELECT">SELECT</option>
        <option value="Estudiante">Estudiante</option>
        <option value="Docente">Docente</option>
        <option value="Empleado">Empleado</option>

    </select>
 </tr>
<br><br/>
     <br />

    <button id="CANCELARbtn" type="submit"> CANCELAR </button>
    <br />
    <tr />
    <button id="AYUDAbtn" type="submit"> AYUDA</button>


</center>
