
@{
    ViewData["Title"] = "OlvidoContraseña";
    Layout = "_LayoutSGPI";
}
<center> 
    <br />
<h1>RECUPERAR CONTRASEÑA</h1>


<br><br/>
<tr>
<label>CORREO</label>
<tr/>
<br>
<tr>
<input type="text" id= "CORREOtxt" required/>
<tr />
<br >
<tr>
<label>USUARIO</label>
<tr />
<br>
<tr>
<input type="TEXT" id= "USUARIOtxt" required/>
<tr />
<br>
<tr>
<label>TELEFONO</label>
<tr />
<br>
<tr>
<input type="number" id= "TELEFONOtxt" required/>
<tr />
<br>
<tr>
<br />

<button id="Login" type="Login"> REGRESAR </button>
<button id="CONTINUARbtn" type="submit"> CONTINUAR </button>
<br><br/>
</center>

 












</div>

